@font-face {
  font-family: "Cera Pro";
  src: url("../../../public/fonts/cera-pro.ttf") format("truetype")
}

.menu-adaptive-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding-right: 30px;
}

.burger {
  display: flex;
  width: 32px;
  height: 12px;
}

.menu-adaptive-block {
  width: 294px;
  height: 643px;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 999999;
  background-color: #fff;
  @media (max-width: 767px) and (min-width: 480px) {
    height: 890px;
    top: 10px;
  }
  @media (max-width: 479px) and (min-width: 360px) {
    height: 789px;
    width: 360px;
    top: 10px;
    right: 0;
  }
}

.adaptive-menu-logo {
  width: 54px;
  height: 40px;
}

.close-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 30px;
}

.menu-adaptive-block-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 56px;
  margin-left: 24px;
  @media (max-width: 767px) and (min-width: 480px) {
    margin-top: 86px;
  }
  @media (max-width: 479px) and (min-width: 360px) {
    margin-top: 46px;
  }
}

.menu-adaptive-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  color: #374957;
  width: 100px;
  height: 32px;
  :hover {
    background-color: #f2e14e;
  }
  a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #374957;
  }
}

.bottom-menu-adaptive-container {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  @media (max-width: 767px) and (min-width: 480px) {
    margin-top: 400px;
  }
  @media (max-width: 479px) and (min-width: 360px) {
    margin-top: 350px;
  }
}

.column-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 143px;
  margin-left: 24px;
}

.row-1 {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  color: #8a8e93;
}

.row-2 {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  color: #374957;
}

.column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 60px;
}

